@model TechCom.Model.Domain.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<div class="page-head_agile_info_w3l">
    <div class="container">
        <h3>Zarządzanie <span>kontem</span></h3>

        <div class="services-breadcrumb">
            <div class="agile_inner_breadcrumb">

                <ul class="w3_short">
                    <li>@Html.MvcSiteMap().SiteMapPath()</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="dataContainter">
        <div class="message-value">
            @if (ViewBag.StatusMessage == "Podane Hasła nie pasują do siebie.")
            {
                <div class="text-danger">
                    @ViewBag.StatusMessage
                </div>

            }
            else if (ViewBag.StatusMessage == "Twoje hasło zostało zmienione.")
            {
                <div class="text-success">
                    @ViewBag.StatusMessage
                </div>
            }
        </div>
 
        <h4 data-toggle="collapse" data-target="#showUserData" id="editData"><i class="glyphicon glyphicon-menu-right"></i>&nbsp;&nbsp;&nbsp;Edytuj dane </h4>
        <hr />
        <div id="showUserData" class="collapse">
            @using (@Html.BeginForm("ChangeProfile", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-group row">
                    @Html.Label("Imię:", new { @class = "col-md-2 col-sm-12  col-xs-12 col-form-label" })
                    <div class="col-md-4 col-sm-6 col-xs-10">
                        @Html.TextBoxFor(o => o.UserData.Name, new { @class = "form-control" })
                        <div class="validation-message">
                            @Html.ValidationMessageFor(o => o.UserData.Name)
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    @Html.Label("Nazwisko:", new { @class = " col-md-2 col-sm-12  col-xs-12 col-form-label" })
                    <div class="col-md-4 col-sm-6 col-xs-10">
                        @Html.TextBoxFor(o => o.UserData.Surname, new { @class = "form-control" })
                        <div class="validation-message">
                            @Html.ValidationMessageFor(o => o.UserData.Surname)
                        </div>
                    </div>
                </div>
                <div class="form-group row ">
                    @Html.Label("Adres:", new { @class = "col-md-2 col-sm-12  col-xs-12 col-form-label" })
                    <div class="col-md-4 col-sm-6 col-xs-10">
                        @Html.TextBoxFor(o => o.UserData.Adress, new { @class = "form-control" })
                        <div class="validation-message">
                            @Html.ValidationMessageFor(o => o.UserData.Adress)
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    @Html.Label("Miasto:", new { @class = "col-md-2 col-sm-12  col-xs-12 col-form-label" })
                    <div class="col-md-4 col-sm-6 col-xs-10">
                        @Html.TextBoxFor(o => o.UserData.City, new { @class = "form-control" })
                        <div class="validation-message">
                            @Html.ValidationMessageFor(o => o.UserData.City)
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    @Html.Label("Kod pocztowy:", new { @class = "col-md-2 col-sm-12  col-xs-12 col-form-label" })
                    <div class="col-md-4 col-sm-6 col-xs-10">
                        @Html.TextBoxFor(o => o.UserData.ZipCode, new { @class = "form-control" })
                        <div class="validation-message">
                            @Html.ValidationMessageFor(o => o.UserData.ZipCode)
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    @Html.Label("Telefon:", new { @class = "col-md-2 col-sm-12  col-xs-12 col-form-label" })
                    <div class="col-md-4 col-sm-6 col-xs-10">
                        @Html.TextBoxFor(o => o.UserData.Phone, new { @class = "form-control" })
                        <div class="validation-message">
                            @Html.ValidationMessageFor(o => o.UserData.Phone)
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-md-offset-2 col-md-10 ">
                        <input type="submit" value="Edytuj" class="btn-form col-md-2 col-sm-3 col-xs-4" />
                    </div>
                </div>
            }
        </div>
        <h4 data-toggle="collapse" data-target="#showPasswordOption" id="editData"><i class="glyphicon glyphicon-menu-right"></i>&nbsp;&nbsp;&nbsp;Zmień hasło</h4>
        <hr />
        <div id="showPasswordOption" class="collapse">
            @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <div class="manage-error">
                    @Html.ValidationMessage("password-error", "")
                </div>
             
                @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
   
                <div class="form-group row">
                    @Html.Label("Obecne hasło", new { @class = "col-md-2 col-sm-12  col-xs-12 col-form-label" })
                    <div class="col-md-4 col-sm-6 col-xs-10">
                        @Html.PasswordFor(m => m.ChangePasswordViewModel.OldPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.Label("Nowe hasło", new { @class = "col-md-2 col-sm-12  col-xs-12 col-form-label" })
                    <div class="col-md-4 col-sm-6 col-xs-10">
                        @Html.PasswordFor(m => m.ChangePasswordViewModel.NewPassword, new { @class = "form-control" })
                        <div class="validation-message">
                            @Html.ValidationMessageFor(m => m.ChangePasswordViewModel.NewPassword)
                        </div>
                    </div>
                </div>
                    <div class="form-group row">
                        @Html.Label("Potwierdź hasło", new { @class = "col-md-2 col-sm-12  col-xs-12  col-form-label" })
                        <div class="col-md-4 col-sm-6 col-xs-10">
                            @Html.PasswordFor(m => m.ChangePasswordViewModel.ConfirmPassword, new { @class = "form-control" })
                            <div class="validation-message">
                                @Html.ValidationMessageFor(m => m.ChangePasswordViewModel.ConfirmPassword)
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Zmień hasło" class="btn-form col-md-2 col-sm-3 col-xs-4" />
                        </div>
                    </div>
            }
        </div>
    </div>
  </div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/bootstrap.js"></script>

<script src="~/Scripts/bootstrap.min.js"></script>

}