@model TechCom.Infrastructure.ViewModels.ShoppingCartViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutWithoutSearch.cshtml";
}

<div class="page-head_agile_info_w3l">
    <div class="container">
        <h3>Twój <span>koszyk</span></h3>

        <div class="services-breadcrumb">
            <div class="agile_inner_breadcrumb">

                <ul class="w3_short">
                    <li>@Html.MvcSiteMap().SiteMapPath()</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
   @if (Model.ShoppingCartManager.ContentOfCart.Count() <= 0)
   {
    <p class="text-center"> Twój koszyk jest pusty</p>
   }
   else
   {

  
    <table class="table table-hover table-striped" id="tableTH">
        <thead>
            <tr>
                <th class="text-center">Ilość</th>
                <th>Produkt</th>
                <th class="text-right">Cena</th>
                <th class="text-right">Wartość</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var line in Model.ShoppingCartManager.ContentOfCart)
            { 
                <tr>
                    <td class="text-center">@line.Quantity</td>
                    <td class="text-left">@line.Product.Name</td>
                    <td class="text-right">@line.Product.Price.ToString("c")</td>
                    <td class="text-right">@((line.Quantity * line.Product.Price).ToString("c"))</td>
                    <td class="text-center">
                        <a href="@Url.Action("RemoveFromShoppingCart","ShoppingCart", new {id=line.Product.ProductID,returnUrl=Request.Url.PathAndQuery})">
                            <span class="glyphicon glyphicon-remove " value="Usuń" id="remove"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr class="info">
                <td colspan="3" class="text-right"><b>Razem:</b></td>
                <td class="text-right">
                    @Model.ShoppingCartManager.WorthOfProduct().ToString("c")
                </td>
                <td></td>
            </tr>
        </tfoot>
    </table>
    <div class="col-md-3 col-md-offset-3  col-sm-5 col-sm-offset-1  ">
        <a class="buttonApp col-xs-11 " href="@Url.Content("~/")">Kontynuuj zakupy</a>
    </div>
    <div class="col-md-3 col-md-offset-0 col-sm-5 ">
        <a class="buttonApp col-xs-11" href="@Url.Action("MakeAnOrder", "ShoppingCart", null)">Realizuj zamówienie</a>
    </div>
   }
</div>