@model TechCom.Model.Domain.ViewModels.OrderListViewModel
@{
    ViewBag.Title = "MakeAnOrder";
    Layout = "~/Views/Shared/_LayoutWithoutSearch.cshtml";
}
<div class="page-head_agile_info_w3l">
    <div class="container">
        <h3>Twoje <span>dane</span></h3>

        <div class="services-breadcrumb">
            <div class="agile_inner_breadcrumb">
                <ul class="w3_short">
                    <li>@Html.MvcSiteMap().SiteMapPath()</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    @using (Html.BeginForm("MakeAnOrder", "ShoppingCart"))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(o => o.OrderDetails.Email)
        <div class="form-group row">
            @Html.Label("Imię:", new { @class = "col-md-2 col-sm-12  col-xs-12 col-form-label" })
            <div class="col-md-4 col-sm-6 col-xs-10">
                @Html.TextBoxFor(o => o.OrderDetails.Name, new { @class = "form-control" })
                <div class="validation-message">
                    @Html.ValidationMessageFor(o => o.OrderDetails.Name)
                </div>
            </div>
        </div>

        <div class="form-group row">
            @Html.Label("Nazwisko:", new { @class = " col-md-2 col-sm-12  col-xs-12 col-form-label" })
            <div class="col-md-4 col-sm-6 col-xs-10">
                @Html.TextBoxFor(o => o.OrderDetails.Surname, new { @class = "form-control" })
                <div class="validation-message">
                    @Html.ValidationMessageFor(o => o.OrderDetails.Surname)
                </div>
            </div>
        </div>

        <div class="form-group row ">
            @Html.Label("Adres:", new { @class = "col-md-2 col-sm-12  col-xs-12 col-form-label" })
            <div class="col-md-4 col-sm-6 col-xs-10">
               @Html.TextBoxFor(o => o.OrderDetails.Adress, new { @class = "form-control" })
                <div class="validation-message">
                    @Html.ValidationMessageFor(o => o.OrderDetails.Adress)
                </div>
            </div>
        </div>

        <div class="form-group row">
            @Html.Label("Miasto:", new { @class = "col-md-2 col-sm-12  col-xs-12 col-form-label" })
            <div class="col-md-4 col-sm-6 col-xs-10">
                @Html.TextBoxFor(o => o.OrderDetails.City, new { @class = "form-control" })
                <div class="validation-message">
                    @Html.ValidationMessageFor(o => o.OrderDetails.City)
                </div>
            </div>
        </div>

        <div class="form-group row">
            @Html.Label("Kod pocztowy:", new { @class = "col-md-2 col-sm-12  col-xs-12 col-form-label" })
            <div class="col-md-4 col-sm-6 col-xs-10">
               @Html.TextBoxFor(o => o.OrderDetails.ZipCode, new { @class = "form-control" })
                <div class="validation-message">
                    @Html.ValidationMessageFor(o => o.OrderDetails.ZipCode)
                </div>
            </div>
        </div>

        <div class="form-group row">
            @Html.Label("Telefon:", new { @class = "col-md-2 col-sm-12  col-xs-12 col-form-label" })
            <div class="col-md-4 col-sm-6 col-xs-10">
                @Html.TextBoxFor(o => o.OrderDetails.Phone, new { @class = "form-control" })
                <div class="validation-message">
                    @Html.ValidationMessageFor(o => o.OrderDetails.Phone)
                </div>
            </div>
        </div>

        <div class="form-group row">
            @Html.Label("Komentarz:", new { @class = "col-md-2 col-sm-12  col-xs-12 col-form-label" })
            <div class="col-md-4 col-sm-6 col-xs-10">
      
                @Html.TextAreaFor(o => o.OrderDetails.Comments, new { @class = "form-control", cols = "30", rows = "5" })             
            </div>
        </div>

        <div class="form-group row">
            @Html.Label("Opcja dostawy:", new { @class = "col-md-2 col-sm-12  col-xs-12 col-form-label" })
            <div class="col-md-offset-2 col-md-10">
                @foreach (var item in Model.DeliveryOptions)
                {
                    @Html.RadioButtonFor(model => model.OrderDetails.SelectedDeliveryId, item.DeliveryOptionID, new { id = "option" + item.DeliveryOptionID })
                    @Html.Label("option" + item.DeliveryOptionID, item.TypeOfDelivery + " - " + item.PriceOfDelivery + " zł" )
                <br/>
                 }
            </div>
        </div>

            <div class="form-group ">
                <div class="col-md-offset-2 col-md-10 ">
                    <input type="submit" value="Dalej" class="btn-form col-md-2 col-sm-3 col-xs-4" />
                </div>
            </div>

            }
        </div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
