@model TechCom.App.Models.ProductListViewModel


@using (Html.BeginForm("SearchProduct", "Product"))
{ <p>
        <input id="SearchString" name="SearchString" type="search" data-autocomplete-source="@Url.Action("HomeSearchSuggestions","Product")" placeholder="czego szukasz?" @ViewBag.CurrentFilter as string/>


        <input type="submit" value="Wyszukaj" />
    </p>
}


<ul id="mainMenu" >
@foreach (var item in Model.Categories)
{
   <li>
       <a href="@Url.Action("ProductList", "Product", new { categoryName = item.CategoryName })">
           @item.CategoryName
       </a>
   </li>

}
</ul>
@section Scripts{
    @System.Web.Optimization.Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/Search/SearchSuggestions.js"></script>

}