@model TechCom.Model.Domain.ViewModels.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_LayoutWithoutSearch.cshtml";
}

<div class="container">
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <br />
        <h4 class="text-center">Podaj swój Email aby zresetować hasło.</h4>
        <hr />
        <br/>
      
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationSummary("", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group ">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Dalej" class="btn-form col-md-2 col-sm-3 col-xs-4" id="btn-Frg" />
            </div>
        </div>
       
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
