@model TechCom.Model.Domain.ViewModels.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    Layout = "~/Views/Shared/_LayoutWithoutSearch.cshtml";
}

<div class="container">
    <div class="col-md-4 col-md-offset-4  col-sm-7 col-sm-offset-3  col-xs-12 contact-form">
        <h4 class="white-w3ls">Zresetuj  <span>hasło</span></h4>
        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
         
           
        
            @Html.HiddenFor(model => model.Code)
            <div class="styled-input agile-styled-input-top">
                @Html.TextBoxFor(m => m.Email)
                <label>Email</label>
                <span></span>

            </div>
            <div class="styled-input">
                @Html.PasswordFor(m => m.Password)
                <label>Hasło</label>
                <span></span>

            </div>
            <div class="styled-input">
                @Html.PasswordFor(m => m.ConfirmPassword)
                <label>Powtórz hasło</label>
                <span></span>


            </div>
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <input type="submit" value="Zresetuj" id="registerButton">
            @Html.AntiForgeryToken()
          
        }
    </div>
    </div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
