@model TechCom.Model.Domain.ViewModels.EditProductVieModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

@if (TempData["message"] != null)
{
    <div class="alert alert-danger text-center">@TempData["message"]</div>
}

<div class="container" id="editContainer">
    <div class="panel-body ">
        @Html.AntiForgeryToken()
        @using (@Html.BeginForm("Edit", "ProductManagment", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {


            @Html.HiddenFor(o => o.Product.ProductID)
            @Html.HiddenFor(o => o.Product.DateAdded)
            @Html.HiddenFor(o => o.Product.ImageProduct)

            <div class="form-group row">
                <div class="col-xs-5">
                    @Html.Label("Nazwa:")
                    @Html.TextBoxFor(o => o.Product.Name, new { @class = "form-control ", @id = "edit" })
                    <div class="validation-message">
                        @Html.ValidationMessageFor(o => o.Product.Name)
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-xs-5">
                    @Html.Label("Producent:")
                    @Html.TextBoxFor(o => o.Product.Manufacturer, new { @class = "form-control", @id = "edit" })
                    <div class="validation-message">
                        @Html.ValidationMessageFor(o => o.Product.Manufacturer)
                    </div>
                </div>

            </div>

            <div class="form-group row">
                <div class="col-xs-6">
                    @Html.Label("Opis:")
                    @Html.TextAreaFor(o => o.Product.Description, new { @class = "form-control", rows = 5, @id = "edit" })
                    <div class="validation-message">
                        @Html.ValidationMessageFor(o => o.Product.Description)
                    </div>
                </div>
            </div>


            <div class="form-group row">
                <div class="col-xs-3">
                    @Html.Label("Kategoria:")
                    @Html.DropDownListFor(m => m.Product.Subcategory.CategoryID, new SelectList(Model.Categories, "CategoryID", "CategoryName", Model.Categories.First().CategoryID), new { @class = "form-control", id = "editMain", })
                </div>
                <div class="col-xs-3">
                   
                    @Html.Label("Podkategoria:")
                   
                    @Html.DropDownListFor(m => m.Product.SubcategoryID, new SelectList(Model.Subcategories, "SubcategoryID", "SubcategoryName", Model.Subcategories.First().SubcategoryID), new { @class = "form-control", id = "editSub" })
                </div>               
            </div>
            <div class="form-group row">
                <div class="col-xs-3">
                    @Html.Label("Ilość sztuk:")<br />
                    @Html.TextBoxFor(o => o.Product.Quantity, new { type = "number", min = "1", @class = "form-control" })
                    <div class="validation-message">
                        @Html.ValidationMessageFor(o => o.Product.Quantity)
                    </div>
                </div>
                <div class="col-xs-3">
                    @Html.Label("Cena:")
                    @Html.TextBoxFor(o => o.Product.Price, new { @class = "form-control", @id = "edit" })
                    <div class="validation-message">
                        @Html.ValidationMessageFor(o => o.Product.Price)
                    </div>
                </div>
             </div>
            <div class="form-group row">
                <div class="col-xs-3">
                    @Html.Label("Produkt ze zniżką:")
                    @Html.CheckBoxFor(o => o.Product.ProductWithDiscount, new { @class = "custom-control-input" })
                </div>
            </div>
            <br />
            if (ViewBag.EditMode == null || !ViewBag.EditMode)
            {
                <label class="custom-file">
                    <input type="file" name="file" class="custom-file-input">
                    <span class="custom-file-control"></span>
                </label>
            }
           
                <br />
                <input type="submit" value="Zapisz" class="buttonApp col-md-2"  />
                }
            </div>
</div>
@section Scripts {

<script src="~/Scripts/Prototype/Validate.js"></script>
<script src="~/Scripts/Prototype/Category.js"></script>
}