@model TechCom.Model.Domain.ViewModels.ProductListViewModel
@using TechCom.App.Infrastructure.Helpers
<a href="link">
    @Html.MvcSiteMap().SiteMapPath()
</a>
<h3>

    @Model.DetailsProduct.Name -@Model.DetailsProduct.Manufacturer 
</h3>
@*<a href="@Url.Action("AddToShoppingCart","ShoppingCart", new {id=Model.DetailsProduct.ProductID})">
    <input type="submit" class="btn btn-success" value="Dodaj do koszyka" />
</a>*@
@using (Html.BeginForm("AddToShoppingCart", "ShoppingCart", FormMethod.Post))
{
    @Html.Hidden("id", Model.DetailsProduct.ProductID)
    @Html.TextBox("quantity",Model.CountOfProduct=1,  new { type = "number", min = "1", max = Model.DetailsProduct.Quantity})
    
    
    @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
    

    
    <input type="submit" class="btn btn-success" value="Dodaj do koszyka" />
}
<div>
    @string.Format("{0:0.##}", Model.DetailsProduct.Price)<span>PLN</span> 
</div>
<div>
    <img src="@Url.ImageHelper(Model.DetailsProduct.ImageProduct)" />
</div>
<div >
    @Model.DetailsProduct.Description
</div>
<a href="@Url.Action("Edit", "ProductManagment", new { idProduct = Model.DetailsProduct.ProductID })" style="margin-top: 20px; font-weight: bold; display: block;">Edytuj</a>


