@model TechCom.Model.Domain.ViewModels.ProductListViewModel
@using PagedList.Mvc;
@using PagedList;

@{
    ViewBag.Title = "DetailedProductList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row panel">
    @using (Html.BeginForm())
    {
        <div class="form-inline" id="formSearchProductList">
            <input id="SearchString" name="SearchString" data-autocomplete-source="@Url.Action("SearchSuggestions","Product",new { categoryName = Model.CurrentCategory })" type="search" placeholder="czego szukasz?" value="@ViewBag.CurrentFilter" class="form-control" />
            <button type="submit" value="Search" class="btn btn-primary"><i class="glyphicon glyphicon-search"> Wyszukaj</i> </button>
        </div>
    }
    <div id="subCategories" class="col-xs-2">
        @foreach (var item in Model.Subategories)
        {
            @Html.Partial("_SubCategoriesList", item)
        }

    </div>
    <div class="col-xs-10">


        
        @using (Html.BeginForm("DetailedProductList", "Product", new { subCategory = Model.SubcategoryName, categoryName = Model.CurrentCategory, currentFilter = ViewBag.CurrentFilter }))
        {

            @Html.LabelFor(m => m.OrderBy)
            @Html.DropDownListFor(m => m.OrderBy, Model.OrderList, "Najlepiej pasujące", new { onchange = "this.form.submit();", @class = "form-control" })

        }
        <a href="link">
            @Html.MvcSiteMap().SiteMapPath()
        </a>

        @foreach (var item in Model.Products)
        {

            @Html.Partial("_ProductList", item)
        }


        @Html.PagedListPager(Model.Products, page => Url.Action("DetailedProductList", new { orderBy = Model.OrderBy, currentFilter = ViewBag.CurrentFilter, subCategory = Model.SubcategoryName, categoryName = Model.CurrentCategory, page }))
    </div>
</div>

