@model TechCom.Model.Domain.ViewModels.ProductListViewModel
@using PagedList.Mvc;

 
@{
    ViewBag.Title = "ProductList";
    Layout = "~/Views/Shared/_ProductInCategoryLayout.cshtml";
}

<div class="header-bot">
    <div class="header-bot_inner_wthreeinfo_header_mid">
        <div class="col-md-4 logo_agile">
            <h1><a href="@Url.Action("Index","Home")"><span>T</span>ech Com </a></h1>
        </div>
        <div class="col-md-4 header-middle">

            @using (Html.BeginForm("SearchProductInSubCategory", "Product", new { categoryName=Model.CurrentCategory }))
            {
                <input type="search" name="SearchString" placeholder="Czego szukasz?" required="" value="@ViewBag.CurrentFilter">
                <button type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            }

        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="page-head_agile_info_w3l">
    <div class="container">
        <h3>@Model.CurrentCategory</h3>

        <div class="services-breadcrumb">
            <div class="agile_inner_breadcrumb">

                <ul class="w3_short">
                    <li>@Html.MvcSiteMap().SiteMapPath()</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="panel-body">
    <div class="col-md-3 products-left">
        <div class="css-treeview">
            <h4>Podkategorie</h4>
            <ul class="tree-list-pad">
                @foreach (var item in Model.Subategories)
                {
                    @Html.Partial("_SubCategoriesList", item)
                }
            </ul>
        </div>
    </div>


    <div class="col-md-9 products-right">


        @using (Html.BeginForm("ProductList", "Product", new { categoryName = Model.CurrentCategory, currentFilter = ViewBag.CurrentFilter }))
        {

            @Html.LabelFor(m => m.OrderBy)
            @Html.DropDownListFor(m => m.OrderBy, Model.OrderList, "Najlepiej pasujące", new { onchange = "this.form.submit();", @class = "form-control" })

        }
        <a href="link">
            @Html.MvcSiteMap().SiteMapPath()
        </a>

        @foreach (var item in Model.Products)
        {

            @Html.Partial("_ProductList", item)
        }


        @Html.PagedListPager(Model.Products, page => Url.Action("ProductList", new { orderBy = Model.OrderBy, currentFilter = ViewBag.CurrentFilter, categoryName = Model.CurrentCategory, page }))
    </div>

    <div class="clearfix"></div>
</div>
