@model TechCom.Model.Domain.ViewModels.ProductListViewModel
@using PagedList.Mvc;

 
@{
    ViewBag.Title = "ProductList";
}

<div class="row panel">
    @using (Html.BeginForm())
    {
        <div class="form-inline" id="formSearchProductList">
            <input id="SearchString" name="SearchString" type="search" placeholder="czego szukasz?" value="@Model.CurrentFilter" class="form-control" />
            <button type="submit" value="Search" class="btn btn-primary"><i class="glyphicon glyphicon-search"> Wyszukaj</i> </button>
        </div>
    }
    <div id="subCategories" class="col-xs-2">
        @foreach (var item in Model.Subategories)
        {
            @Html.Partial("_SubCategoriesList", item)
        }

    </div>
    <div class="col-xs-10">
 
      
        @using (Html.BeginForm("ProductList", "Product", new { categoryName = Model.CurrentCategory, currentFilter = Model.CurrentFilter }))
        {

        @Html.LabelFor(m => m.OrderBy)
        @Html.DropDownListFor(m => m.OrderBy, Model.OrderList, "Najlepiej pasujące", new { onchange = "this.form.submit();", @class = "form-control" })

        }
        <a href="link">
            @Html.MvcSiteMap().SiteMapPath()
        </a>

        @foreach (var item in Model.Products)
        {

        @Html.Partial("_ProductList", item)
        }


        @Html.PagedListPager(Model.Products, page => Url.Action("ProductList", new { orderBy = Model.OrderBy, currentFilter = Model.CurrentFilter, categoryName = Model.CurrentCategory, page }))
    </div>
</div>
