@model TechCom.Model.Domain.ViewModels.ProductListViewModel
@using PagedList.Mvc;
@using PagedList;
@using System.Linq

<div class="row panel">
    @using (Html.BeginForm("SearchProduct", "Product"))
    {
        <div class="form-inline" id="formSearchProductList">
            <input id="SearchString" name="SearchString" data-autocomplete-source="@Url.Action("SearchSuggestions","Product",new { categoryName = Model.CurrentCategory })" type="search" placeholder="czego szukasz?" value="@ViewBag.CurrentFilter" class="form-control" />
            <button type="submit" value="Search" class="btn btn-primary"><i class="glyphicon glyphicon-search"> Wyszukaj</i> </button>
        </div>
    }
    <div id="subCategories" class="col-xs-2">
        @foreach (var item in Model.CountOfProductsInCategory)
        {
            <ul id="subCatList">
                <li>
                    <a href="@Url.Action("SearchProductInSubCategory","Product", new
                        { categoryName=item.Categoryname,currentFilter = ViewBag.CurrentFilter, searchString= ViewBag.CurrentFilter })">
                        @item.Categoryname (@item.Count)
                    </a>
                </li>
            </ul>
        }
    </div>
    <div class="col-xs-10">
        @using (Html.BeginForm("SearchProduct", "Product", new { currentFilter = ViewBag.CurrentFilter }))
        {
            @Html.LabelFor(m => m.OrderBy)
            @Html.DropDownListFor(m => m.OrderBy, Model.OrderList, "Najlepiej pasujące", new { onchange = "this.form.submit();", @class = "form-control" })

        }



        @foreach (var item in Model.Products)
        {

            @Html.Partial("_ProductList", item)

        }

        @Html.PagedListPager(Model.Products, page => Url.Action("SearchProduct", new { orderBy = Model.OrderBy, page, currentFilter = ViewBag.CurrentFilter }))
    </div>
</div>