@model TechCom.Model.Domain.ViewModels.ProductListViewModel
@using PagedList.Mvc;
@using PagedList;
@using System.Linq

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
}
<div class="page-head_agile_info_w3l">
    <div class="container">
        <h3>@Model.CurrentCategory</h3>

        <div class="services-breadcrumb">
            <div class="agile_inner_breadcrumb">

                <ul class="w3_short">
                    <li>@Html.MvcSiteMap().SiteMapPath()</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="panel-body">
    <div class="col-md-3 products-left">
        <div class="css-treeview" id="side">
            <h4>Podkategorie</h4>
            <ul class="tree-list-pad">
                @foreach (var item in Model.CountOfProductsInCategory)
                {
                    <li>
                        <a href="@Url.Action("DetailSearchProductInSubCategory","Product", new
                        { categoryName=item.Categoryname,currentFilter = ViewBag.CurrentFilter, searchString= ViewBag.CurrentFilter })">
                            @item.Categoryname (@item.Count)
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>

    <div class="col-md-9 products-right">
        <div class="col-md-3 col-xs-5">
            @using (Html.BeginForm("SearchProductInSubCategory", "Product", new { currentFilter = ViewBag.CurrentFilter }))
            {

                @Html.DropDownListFor(m => m.OrderBy, Model.OrderList, "Najlepiej pasujące", new { onchange = "this.form.submit();", @class = "form-control" })

            }


        </div>

    <div class="col-md-12 col-xs-12" id="products">
        @foreach (var item in Model.Products)
            {

            @Html.Partial("_ProductList", item)

        }
        <div class="clearfix"></div>

        @Html.PagedListPager(Model.Products, page => Url.Action("SearchProductInSubCategory", new { orderBy = Model.OrderBy, page, currentFilter = ViewBag.CurrentFilter }))
    </div>
</div>


</div>